@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Thin.otf");
  font-weight: 300; }
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.otf");
  font-weight: normal; }
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.otf");
  font-weight: 500; }
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.otf");
  font-weight: bold; }
* {
  outline: none !important; }

a {
  text-decoration: none !important;
  transition: 0.3s; }

img {
  max-width: 100%;
  height: auto; }

.darkgray {
  color: #213830 !important; }

body {
  font-family: "Inter", sans-serif;
  color: #213830;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  body.menubar-in {
    overflow: hidden; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row [class*='col'] {
    padding-left: 15px;
    padding-right: 15px; }

.container-fluid {
  padding-left: 16px;
  padding-right: 16px; }
  @media (min-width: 1440px) {
    .container-fluid {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 2010px) {
    .container-fluid {
      max-width: 2010px; } }

.brand {
  transition: 0.3s;
  display: block;
  line-height: 0.9;
  font-weight: 500;
  color: #c5d300;
  font-size: 40px;
  margin-right: auto; }
  @media (min-width: 1200px) {
    .brand {
      margin-bottom: 30px; } }
  @media (min-width: 1950px) {
    .brand {
      font-size: 60px;
      margin-bottom: 80px; } }
  .brand:hover {
    opacity: 0.8; }
  .brand .f {
    color: #213830;
    transition: 0.3s; }

.navbar {
  transition: 0.3s;
  padding: 16px 0; }
  .navbar.sticky {
    background-color: rgba(231, 236, 236, 0.8); }
    .navbar.sticky .close-popup:before, .navbar.sticky .close-popup:after {
      border-color: #000; }
  .navbar.active {
    background-color: #213830; }
    @media (max-width: 767.98px) {
      .navbar.active {
        bottom: 0;
        align-items: start; } }
    .navbar.active .brand .f {
      color: #FFF; }
    .navbar.active .nav-block [class*='col'] {
      opacity: 1;
      transform: translateY(-10px);
      transition-duration: 0.3s;
      transition-delay: 250ms; }
      .navbar.active .nav-block [class*='col'] + [class*='col'] {
        transition-delay: 350ms; }
        .navbar.active .nav-block [class*='col'] + [class*='col'] + [class*='col'] {
          transition-delay: 450ms; }
          .navbar.active .nav-block [class*='col'] + [class*='col'] + [class*='col'] + [class*='col'] {
            transition-delay: 550ms; }
  .navbar .navbar-collapse {
    margin-top: 24px;
    margin-left: -15px;
    margin-right: -15px; }

.links a {
  color: #FFF;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-bottom: 16px; }
  @media (min-width: 1200px) {
    .links a {
      font-size: 0.97vw;
      margin-bottom: 22px; } }
  @media (min-width: 1950px) {
    .links a {
      margin-bottom: 42px; } }
  .links a:after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0;
    z-index: -1;
    border-bottom: 5px solid #64746e;
    transition: 0.3s; }
  .links a:hover:after, .links a.active:after {
    width: 100%; }

.brand-box {
  text-align: right;
  width: 100%; }
  @media (max-width: 1199.98px) {
    .brand-box {
      display: flex; } }

.nav-block {
  padding: 34px 15px;
  max-height: calc(100vh - 62px);
  overflow: auto; }
  @media (min-width: 1950px) {
    .nav-block {
      padding: 80px 15px 170px; } }
  .nav-block [class*='col'] {
    opacity: 0;
    transform: translateY(10px); }

.sandwich {
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
  padding: 0;
  border: 0;
  background-color: transparent; }
  .sandwich:hover {
    opacity: 0.7; }
  .sandwich:before, .sandwich span, .sandwich:after {
    width: 30px; }
    @media (min-width: 1950px) {
      .sandwich:before, .sandwich span, .sandwich:after {
        width: 50px; } }
  .sandwich:before, .sandwich:after {
    content: ""; }
  .sandwich span, .sandwich:after {
    margin-top: 6px; }
    @media (min-width: 1950px) {
      .sandwich span, .sandwich:after {
        margin-top: 10px; } }
  .sandwich span, .sandwich:before, .sandwich:after {
    display: block;
    transition: 0.3s;
    transform-origin: right center;
    margin-left: auto;
    border-top: 3px solid #c5d300; }
    @media (min-width: 1950px) {
      .sandwich span, .sandwich:before, .sandwich:after {
        border-top: 4px solid #c5d300; } }
  .sandwich:not(.collapsed):before {
    transform: translateY(-2px) rotate(-45deg);
    width: 31px; }
    @media (min-width: 1950px) {
      .sandwich:not(.collapsed):before {
        width: 49px;
        transform: translateY(-3px) rotate(-45deg); } }
  .sandwich:not(.collapsed) span {
    width: 0;
    opacity: 0; }
  .sandwich:not(.collapsed):after {
    transform: translateY(2px) rotate(45deg);
    width: 31px; }
    @media (min-width: 1950px) {
      .sandwich:not(.collapsed):after {
        width: 49px;
        transform: translateY(3px) rotate(45deg); } }

.h1 a:hover, h1 a:hover, .h2 a:hover, h2 a:hover, .h3 a:hover, h3 a:hover, .h4 a:hover, h4 a:hover, .h5 a:hover, h5 a:hover, .h6 a:hover, h6 a:hover {
  opacity: 0.8; }

.h1, h1, .h2, h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  transform: translate(-2.4px, -4px); }
  @media (min-width: 576px) {
    .h1, h1, .h2, h2 {
      font-size: 55px;
      transform: translate(-3.3px, -5px); } }
  @media (min-width: 768px) {
    .h1, h1, .h2, h2 {
      transform: translate(-2.3px, -5.6px); } }
  @media (min-width: 1200px) {
    .h1, h1, .h2, h2 {
      font-size: 4.44vw;
      transform: translate(-0.2vw, -0.5vw); } }

.h1, h1 {
  color: #213830; }
  .h1 a, h1 a {
    color: #213830; }

.h2, h2 {
  color: #005e6d; }
  .h2 a, h2 a {
    color: #005e6d; }

.h1-white {
  font-weight: normal;
  color: #FFF;
  font-size: 40px; }
  @media (min-width: 576px) {
    .h1-white {
      font-size: 60px; } }
  @media (min-width: 1200px) {
    .h1-white {
      font-size: 7.68vw;
      transform: translate(-0.4vw, -1vw); } }

.h3, h3 {
  font-size: 26px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 4px;
  transform: translate(-0.8px, 0px); }
  @media (min-width: 576px) {
    .h3, h3 {
      font-size: 40px; } }
  @media (min-width: 768px) {
    .h3, h3 {
      transform: translate(-1px, -0.8px); } }
  @media (min-width: 1200px) {
    .h3, h3 {
      font-size: 3.23vw;
      transform: translate(-0.14vw, -0.27vw); } }

h3 {
  color: #97b2b0; }
  h3 a {
    color: #97b2b0; }

.h3 {
  color: #213830; }
  .h3 a {
    color: #213830; }

.h4, h4 {
  font-size: 22px;
  color: #213830;
  transform: translate(-2px, -3px); }
  @media (min-width: 1200px) {
    .h4, h4 {
      font-size: 1.86vw;
      transform: translate(-2px, -0.2vw); } }
  .h4 a, h4 a {
    color: #213830; }

.h5, h5 {
  color: #FFF;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 16px; }
  @media (min-width: 1200px) {
    .h5, h5 {
      font-size: 1.94vw;
      margin-bottom: 22px; } }
  @media (min-width: 1950px) {
    .h5, h5 {
      margin-bottom: 42px; } }

.h6, h6 {
  font-size: 18px;
  color: #213830;
  font-weight: bold; }
  @media (min-width: 1200px) {
    .h6, h6 {
      font-size: 1.29vw;
      transform: translate(0px, -0.27vw); } }
  .h6 a, h6 a {
    color: #213830; }

p {
  line-height: 1.35;
  margin-top: 0; }
  @media (min-width: 992px) {
    p {
      font-size: 18px; } }
  @media (min-width: 1200px) {
    p {
      font-size: 0.97vw; } }

.comment {
  transform: translate(0px, -3px); }

.header-comment {
  font-size: 20px;
  color: #FFF;
  transform: translate(0px, -3px); }
  @media (min-width: 1200px) {
    .header-comment {
      font-size: 1.45vw;
      transform: translate(0px, -0.3vw); } }

.author {
  font-size: 17px; }
  @media (min-width: 576px) {
    .author {
      font-size: 27px; } }
  @media (min-width: 1200px) {
    .author {
      font-size: 2.02vw; } }

.mehr {
  color: #213830;
  position: relative;
  z-index: 1; }
  .mehr:after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    z-index: -1;
    border-bottom: 5px solid #d3d7d6;
    transition: 0.3s; }
  .mehr:hover:after {
    opacity: 0; }

.footer {
  margin-top: auto;
  background: #213830;
  padding: 16px 0 50px;
  color: #FFF;
  position: relative;
  z-index: 2; }
  @media (min-width: 1950px) {
    .footer {
      padding: 16px 0 80px; } }
  .footer .brand {
    margin-bottom: 0; }
    .footer .brand .f {
      color: #FFF; }
  .footer .greenwood img {
    width: 120px; }
    @media (min-width: 1950px) {
      .footer .greenwood img {
        width: 172px; } }

.footer-bottom {
  padding-top: 72px; }
  @media (min-width: 1950px) {
    .footer-bottom {
      padding: 128px 0 50px; } }
  .footer-bottom .links a {
    color: #FFF;
    display: inline-block;
    position: relative;
    z-index: 1; }
    @media (min-width: 1950px) {
      .footer-bottom .links a {
        margin-bottom: 28px; } }
  @media (min-width: 1200px) {
    .footer-bottom p {
      margin-bottom: 50px; } }
  @media (max-width: 1199.98px) {
    .footer-bottom p {
      font-size: 16px; } }

.lines-box {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  padding-top: 16px;
  overflow: hidden;
  z-index: 0;
  transition: opacity 1.5s ease; }
  .lines-box .container-fluid {
    height: 100%; }
  .lines-box.scrolled .grids-vertical .row-vertical > [class*='col']:before, .lines-box.scrolled .grids-vertical .row-vertical > [class*='col']:after {
    background: transparent; }
  .lines-box.scrolled .grids-horizontal {
    border-color: transparent; }
    .lines-box.scrolled .grids-horizontal .row-horizontal:before, .lines-box.scrolled .grids-horizontal .row-horizontal:after {
      background: transparent; }
  .lines-box.lines-box-popup {
    height: calc(100% - 100vh); }
  .lines-box.hidden {
    opacity: 0; }

.grids-vertical {
  position: absolute;
  top: 0;
  left: 30px;
  right: 30px;
  bottom: 0; }
  @media (max-width: 1439.98px) {
    .grids-vertical {
      left: 16px;
      right: 16px; } }
  .grids-vertical .row-vertical {
    height: 100%; }
    .grids-vertical .row-vertical > [class*='col'] {
      position: relative; }
      .grids-vertical .row-vertical > [class*='col']:before, .grids-vertical .row-vertical > [class*='col']:after {
        content: "";
        top: 0;
        bottom: 0;
        background: #bdbdbd;
        transition: 0.5s;
        position: absolute;
        width: 1px; }
      .grids-vertical .row-vertical > [class*='col']:before {
        left: 14px; }
        @media (max-width: 1439.98px) {
          .grids-vertical .row-vertical > [class*='col']:before {
            left: 7px; } }
      .grids-vertical .row-vertical > [class*='col']:after {
        right: 14px; }
        @media (max-width: 1439.98px) {
          .grids-vertical .row-vertical > [class*='col']:after {
            right: 7px; } }
    @media (max-width: 1439.98px) {
      .grids-vertical .row-vertical {
        margin-left: -8px;
        margin-right: -8px; }
        .grids-vertical .row-vertical > [class*='col'] {
          padding-left: 8px;
          padding-right: 8px; } }

.grids-horizontal {
  position: absolute;
  top: 0;
  left: 30px;
  right: 30px;
  bottom: 0;
  transition: 0.3s;
  border-top: 1px solid #bdbdbd; }
  @media (max-width: 1439.98px) {
    .grids-horizontal {
      left: 16px;
      right: 16px; } }
  .grids-horizontal .row-horizontal {
    height: 11.4345vw;
    position: relative;
    transition: 0.5s; }
    @media (max-width: 1199.98px) {
      .grids-horizontal .row-horizontal {
        height: 22vw; } }
    @media (max-width: 525.98px) {
      .grids-horizontal .row-horizontal {
        height: 30vw; } }
    .grids-horizontal .row-horizontal:before, .grids-horizontal .row-horizontal:after {
      content: "";
      position: absolute;
      height: 1px;
      left: 0;
      right: 0;
      background: #bdbdbd;
      transition: 0.5s; }
    .grids-horizontal .row-horizontal:before {
      bottom: 1px; }
    .grids-horizontal .row-horizontal:after {
      bottom: 16px; }

.main {
  margin-top: 16px; }

.img-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .img-wrap img, .img-wrap video, .img-wrap iframe {
    transition: 0.3s;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  @media (min-width: 1200px) {
    .img-wrap:hover img {
      transform: scale(1.05); } }
  .img-wrap.img-nowrap:hover img {
    transform: none; }

.section-gray {
  padding-top: 15px;
  margin-top: -15px;
  position: relative; }
  .section-gray:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    background: #E9EBEA; }

.section {
  position: relative;
  z-index: 2;
  transition: opacity 1.5s ease;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  grid-auto-rows: calc(11.4345vw - 16px);
  margin-bottom: 16px; }
  @media (max-width: 1439.98px) {
    .section {
      grid-column-gap: 16px; } }
  @media (max-width: 1199.98px) {
    .section {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: calc(22vw - 16px); } }
  @media (max-width: 525.98px) {
    .section {
      grid-auto-rows: calc(30vw - 16px); } }

.homepage-1 {
  grid-template-areas: ". . . ." "picture1 picture1 title title" "picture1 picture1 title title" "picture1 picture1 comment ."; }
  @media (max-width: 1199.98px) {
    .homepage-1 {
      grid-template-areas: ". ." "title title" "picture1 comment" "picture1 comment"; } }
  @media (max-width: 767.98px) {
    .homepage-1 {
      grid-template-areas: ". ." "title title" "title title" "picture1 comment" "picture1 comment"; } }
  @media (max-width: 575.98px) {
    .homepage-1 {
      grid-template-areas: ". ." "title title" "title title" "picture1 picture1" "picture1 picture1" "comment comment" "comment comment"; } }

.homepage-2 {
  grid-template-areas: ". . . ." "title title . ." "picture1 picture1 picture2 picture2" "picture1 picture1 picture2 picture2" "subheading1 subheading1 picture2 picture2" ". . subheading2 subheading2"; }
  @media (max-width: 1199.98px) {
    .homepage-2 {
      grid-template-areas: ". ." "title ." "picture1 picture1" "picture1 picture1" "subheading1 subheading1" "picture2 subheading2" "picture2 subheading2"; } }
  @media (max-width: 767.98px) {
    .homepage-2 {
      grid-template-areas: ". ." "title title" "picture1 picture1" "picture1 picture1" "subheading1 subheading1" "subheading1 subheading1" "picture2 subheading2" "picture2 subheading2"; } }
  @media (max-width: 575.98px) {
    .homepage-2 {
      grid-template-areas: ". ." "title title" "picture1 picture1" "picture1 picture1" "subheading1 subheading1" "subheading1 subheading1" "picture2 picture2" "picture2 picture2" "subheading2 subheading2" "subheading2 subheading2"; } }

.homepage-3 {
  grid-template-areas: ". . . ." "picture1 picture1 picture2 picture2" "picture1 picture1 picture2 picture2" "picture1 picture1 subheading2 subheading2" "subheading1 subheading1 . ."; }
  @media (max-width: 1199.98px) {
    .homepage-3 {
      grid-template-areas: ". ." "picture1 subheading1" "picture1 subheading1" "picture2 picture2" "picture2 picture2" "subheading2 subheading2"; } }
  @media (max-width: 767.98px) {
    .homepage-3 {
      grid-template-areas: ". ." "picture1 picture1" "picture1 picture1" "subheading1 subheading1" "subheading1 subheading1" "picture2 picture2" "picture2 picture2" "subheading2 subheading2" "subheading2 subheading2"; } }

.homepage-4 {
  grid-template-areas: ". . . ." "title title . ." "picture1 picture1 picture1 picture1" "picture1 picture1 picture1 picture1" "picture1 picture1 picture1 picture1" "subheading1 subheading1 . ."; }
  @media (max-width: 1199.98px) {
    .homepage-4 {
      grid-template-areas: ". ." "title ." "picture1 picture1" "picture1 picture1" "subheading1 subheading1"; } }
  @media (max-width: 767.98px) {
    .homepage-4 {
      grid-template-areas: ". ." "title title" "picture1 picture1" "picture1 picture1" "subheading1 subheading1" "subheading1 subheading1"; } }

.homepage-5 {
  grid-template-areas: ". . . ." ". . picture1 picture1" ". . picture1 picture1" ". . subheading1 subheading1" ". . . ."; }
  @media (max-width: 1199.98px) {
    .homepage-5 {
      grid-template-areas: ". ." "picture1 picture1" "picture1 picture1" "subheading1 subheading1" ". ."; } }
  @media (max-width: 767.98px) {
    .homepage-5 {
      grid-template-areas: ". ." "picture1 picture1" "picture1 picture1" "subheading1 subheading1" "subheading1 subheading1" ". ."; } }

.homepage-6 {
  grid-template-areas: ". . . ." "title title . ."; }
  @media (max-width: 1199.98px) {
    .homepage-6 {
      grid-template-areas: ". ." "title title"; } }

.homepage-7 {
  grid-template-areas: "picture1 picture1 . ." "picture1 picture1 . ." "picture1 picture1 . ." "subheading1 subheading1 . ." "picture2 picture2 picture3 picture3" "picture2 picture2 picture3 picture3" "subheading2 subheading2 picture3 picture3" ". . subheading3 subheading3"; }
  @media (max-width: 1199.98px) {
    .homepage-7 {
      grid-template-areas: "picture1 subheading1" "picture1 subheading1" "picture2 subheading2" "picture2 subheading2" "picture3 subheading3" "picture3 subheading3"; } }
  @media (max-width: 575.98px) {
    .homepage-7 {
      grid-template-areas: "picture1 ." "picture1 ." "subheading1 subheading1" "subheading1 subheading1" "picture2 ." "picture2 ." "subheading2 subheading2" "subheading2 subheading2" "picture3 ." "picture3 ." "subheading3 subheading3" "subheading3 subheading3"; } }

.homepage-8 {
  grid-template-areas: ". . . ." "subheading1 subheading1 . ." "subheading1 subheading1 . ."; }
  @media (max-width: 1199.98px) {
    .homepage-8 {
      grid-template-areas: ". ." "subheading1 subheading1" "subheading1 subheading1" "subheading1 subheading1"; } }
  @media (max-width: 767.98px) {
    .homepage-8 {
      grid-template-areas: ". ." "subheading1 subheading1" "subheading1 subheading1" "subheading1 subheading1" "subheading1 subheading1" "subheading1 subheading1" "subheading1 subheading1" "subheading1 subheading1"; } }

.grids-empty {
  grid-template-areas: ". . . ." ". . . ."; }
  @media (max-width: 1199.98px) {
    .grids-empty {
      grid-template-areas: ". ." ". ."; } }

.section .title {
  grid-area: title; }
.section .picture1 {
  grid-area: picture1; }
.section .picture2 {
  grid-area: picture2; }
.section .picture3 {
  grid-area: picture3; }
.section .comment {
  grid-area: comment; }
.section .subheading1 {
  grid-area: subheading1; }
.section .subheading2 {
  grid-area: subheading2; }
.section .subheading3 {
  grid-area: subheading3; }

.bg-header {
  padding-top: 16px;
  margin-top: -16px;
  background-size: cover;
  background-position: center center; }

.stabeko {
  color: #FFF;
  font-size: 36px;
  line-height: 0.8;
  transform: translate(-3px, 0px); }
  .stabeko:hover {
    opacity: 0.7; }
  @media (max-width: 767.98px) {
    .stabeko {
      font-size: 28px; } }

.close-popup {
  margin-left: auto;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative; }
  @media (min-width: 1950px) {
    .close-popup {
      width: 48px;
      height: 48px; } }
  .close-popup:hover {
    opacity: 0.7; }
  .close-popup:before, .close-popup:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    display: inline-block;
    transition: 0.3s;
    border-top: 3px solid #FFF; }
    @media (min-width: 1950px) {
      .close-popup:before, .close-popup:after {
        width: 48px; } }
  .close-popup:before {
    transform: translate(-50%, -50%) rotate(-45deg); }
  .close-popup:after {
    transform: translate(-50%, -50%) rotate(45deg); }

.popup-1 {
  grid-template-areas: "title . . ." ". . . ." ". . . ." ". . . ."; }
  @media (max-width: 1199.98px) {
    .popup-1 {
      grid-template-areas: "title ." ". ."; } }
  @media (max-width: 767.98px) {
    .popup-1 {
      grid-template-areas: "title ." ". ." ". ."; } }

.popup-2 {
  grid-template-areas: ". . . ." "title title title ." "subheading1 subheading1 . ." "picture1 picture1 picture1 picture1" "picture1 picture1 picture1 picture1" "picture1 picture1 picture1 picture1" "picture1 picture1 picture1 picture1"; }
  @media (max-width: 1199.98px) {
    .popup-2 {
      grid-template-areas: ". ." "title title" "subheading1 subheading1" "picture1 picture1" "picture1 picture1"; } }
  @media (max-width: 767.98px) {
    .popup-2 {
      grid-template-areas: ". ." "title title" "title title" "subheading1 subheading1" "subheading1 subheading1" "picture1 picture1" "picture1 picture1"; } }
  @media (max-width: 575.98px) {
    .popup-2 {
      grid-template-areas: ". ." "title title" "title title" "subheading1 subheading1" "subheading1 subheading1" "subheading1 subheading1" "subheading1 subheading1" "picture1 picture1" "picture1 picture1"; } }

.popup-3 {
  grid-template-areas: ". . . ." "picture1 picture1 picture1 picture1" "picture1 picture1 picture1 picture1" "picture1 picture1 picture1 picture1" "picture1 picture1 picture1 picture1"; }
  @media (max-width: 1199.98px) {
    .popup-3 {
      grid-template-areas: ". ." "picture1 picture1" "picture1 picture1"; } }

.popup-4 {
  grid-template-areas: ". . . ." "picture1 picture1 picture2 picture3" "picture1 picture1 picture2 picture3" "picture1 picture1 subheading1 subheading2"; }
  @media (max-width: 1199.98px) {
    .popup-4 {
      grid-template-areas: ". ." "picture1 ." "picture1 ." "picture2 picture3" "picture2 picture3" "subheading1 subheading2"; } }
  @media (max-width: 767.98px) {
    .popup-4 {
      grid-template-areas: ". ." "picture1 ." "picture1 ." "picture2 picture3" "picture2 picture3" "subheading1 subheading2" "subheading1 subheading2"; } }
  @media (max-width: 575.98px) {
    .popup-4 {
      grid-template-areas: ". ." "picture1 picture1" "picture1 picture1" "picture2 picture3" "picture2 picture3" "subheading1 subheading2" "subheading1 subheading2"; } }

.popup-5 {
  grid-template-areas: ". . . ." ". picture1 picture1 picture1" ". picture1 picture1 picture1" ". picture1 picture1 picture1"; }
  @media (max-width: 1199.98px) {
    .popup-5 {
      grid-template-areas: ". ." "picture1 picture1" "picture1 picture1"; } }

.popup-6 {
  grid-template-areas: ". . . ." "picture1 picture1 picture2 picture2" "picture1 picture1 picture2 picture2" "picture1 picture1 picture2 picture2"; }
  @media (max-width: 1199.98px) {
    .popup-6 {
      grid-template-areas: ". ." "picture1 picture2" "picture1 picture2"; } }
  @media (max-width: 575.98px) {
    .popup-6 {
      grid-template-areas: ". ." "picture1 picture1" "picture1 picture1" "picture2 picture2" "picture2 picture2"; } }

.popup-7 {
  grid-template-areas: ". . . ." "title title subheading1 subheading1" "title title subheading1 subheading1"; }
  @media (max-width: 1199.98px) {
    .popup-7 {
      grid-template-areas: ". ." "title title" "subheading1 subheading1" "subheading1 subheading1"; } }
  @media (max-width: 767.98px) {
    .popup-7 {
      grid-template-areas: ". ." "title title" "subheading1 subheading1" "subheading1 subheading1" "subheading1 subheading1"; } }
  @media (max-width: 575.98px) {
    .popup-7 {
      grid-template-areas: ". ." "title title" "subheading1 subheading1" "subheading1 subheading1" "subheading1 subheading1" "subheading1 subheading1" "subheading1 subheading1" "subheading1 subheading1" "subheading1 subheading1"; } }

.content-1 {
  grid-template-areas: ". . . ." "title title title ." "comment . . ." ". . . ." ". . . ."; }
  @media (max-width: 1199.98px) {
    .content-1 {
      grid-template-areas: ". ." "title title" "comment comment" "comment comment" ". ."; } }
  @media (max-width: 575.98px) {
    .content-1 {
      grid-template-areas: ". ." "title title" "title title" "comment comment" "comment comment" ". ."; } }

.content-2 {
  grid-template-areas: ". . . ." "title title picture1 picture1" "subheading1 subheading1 picture1 picture1" "subheading1 subheading1 picture1 picture1"; }
  @media (max-width: 1199.98px) {
    .content-2 {
      grid-template-areas: ". ." "title title" "subheading1 picture1" "subheading1 picture1" "subheading1 ."; } }
  @media (max-width: 767.98px) {
    .content-2 {
      grid-template-areas: ". ." "title title" "picture1 picture1" "picture1 picture1" "subheading1 subheading1" "subheading1 subheading1"; } }
  @media (max-width: 575.98px) {
    .content-2 {
      grid-template-areas: ". ." "title title" "picture1 picture1" "picture1 picture1" "subheading1 subheading1" "subheading1 subheading1" "subheading1 subheading1" "subheading1 subheading1"; } }

.content-3 {
  grid-template-areas: ". . . ." ". picture1 picture1 picture1" ". picture1 picture1 picture1" ". picture1 picture1 picture1" ". picture1 picture1 picture1" ". subheading1 subheading1 ." ". subheading1 subheading1 ." ". subheading1 subheading1 ."; }
  @media (max-width: 1199.98px) {
    .content-3 {
      grid-template-areas: ". ." "picture1 picture1" "picture1 picture1" "picture1 picture1" "subheading1 subheading1" "subheading1 subheading1"; } }
  @media (max-width: 767.98px) {
    .content-3 {
      grid-template-areas: ". ." "picture1 picture1" "picture1 picture1" "picture1 picture1" "subheading1 subheading1" "subheading1 subheading1"; } }
  @media (max-width: 575.98px) {
    .content-3 {
      grid-template-areas: ". ." "picture1 picture1" "picture1 picture1" "subheading1 subheading1" "subheading1 subheading1" "subheading1 subheading1" "subheading1 subheading1" "subheading1 subheading1"; } }

.wrapper.hidden {
  transition: opacity 1.5s ease;
  opacity: 0; }
.wrapper.visible {
  opacity: 1; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  opacity: 0;
  pointer-events: none;
  overflow: auto; }
  .popup.active {
    opacity: 1;
    z-index: 2000;
    pointer-events: initial; }
  .popup .popup-top {
    background: #FFF; }

.modal-close {
  height: 100vh;
  margin-top: -16px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
  text-align: center; }
  .modal-close .to-review {
    font-size: 20px;
    display: block;
    color: #FFF;
    transition: top 0.3s ease; }

/*# sourceMappingURL=style.css.map */
